@use "../../styles/colors" as colors;
@use "../../styles/variables" as vars;

.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.mealsLoading,
.fetchErrorContainer {
  text-align: center;
}

.fetchButton {
  font: inherit;
  cursor: pointer;
  background: colors.$primary-button;
  border: vars.$button-border;
  color: colors.$accent;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;

  &:hover,
  &:active {
    background: colors.$secondary-button;
  }
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
