@use "../../../styles/colors" as colors;
@use "../../../styles/variables" as vars;

.form {
  text-align: right;

  button {
    font: inherit;
    cursor: pointer;
    background: colors.$primary-button;
    border: vars.$button-border;
    color: colors.$accent;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;

    &:hover,
    &:active {
      background: colors.$secondary-button;
      border: colors.$primary-button;
    }
  }
}
