$primary: #641e03;
$secondary: #383838;
$accent: #f0f8ff;
$shadow-black: #000000;
$primary-button: linear-gradient(145deg, #4d1601, #6e2d09);
$secondary-button: linear-gradient(145deg, #2c0d00, #3e1808);